<%= form_for @question do |f| %>
  <% if @question.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li class='error'><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <%= f.label :title %><br />
    <%= f.text_field :title, class: "medium-10 columns" %>
  </div>
  <div class="field row">
    <%= f.label :description %><br />
    <%= f.text_field :description, class: "medium-10 columns red" %>
  </div>
  <div class="row">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Add Question", class: "button" %>
  </row>
<% end %>
