<% if current_user != nil %>
  <% usersArray = User.all.sample(5) %>
  <% if usersArray.length > 4 %>
    <div class="row">
      <div class="medium-4 columns">
        <div class="row">
          <div class="user-list">
            <%= link_to image_tag(usersArray[0].avatar.url(:thumb), class: "nav-thumb"), user_path(usersArray[0]) %>
          </div>
          <div class="user-list">
            <%= link_to image_tag(usersArray[1].avatar.url(:thumb), class: "nav-thumb"), user_path(usersArray[1]) %>
          </div>
          <div class="user-list">
            <%= link_to image_tag(usersArray[2].avatar.url(:thumb), class: "nav-thumb"), user_path(usersArray[2]) %>
          </div>
          <div class="user-list">
            <%= link_to image_tag(usersArray[3].avatar.url(:thumb), class: "nav-thumb"), user_path(usersArray[3]) %>
          </div>
          <div class="user-list">
            <%= link_to image_tag(usersArray[4].avatar.url(:thumb), class: "nav-thumb"), user_path(usersArray[4]) %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
<% end %>

  <% if current_user == nil %>
    <div class="row">
      <p class="logged-out">log in with test1@test.com</p>
      <p class="logged-out">Password: password </p>
    </div>

    <div class="row">
    <h2><%= @questions.count %> Questions</h2>
    </div>

    <% @questions.each do |q| %>
      <div class="row">
        <div class="question-container medium-10 columns">
          <h4 class="question_list"><%= link_to "#{q.title}", question_path(q.id) %></h4>
        </div>
        <div class="answer-count medium-2 columns">
          <p class="answer-count-text">Asked on <%= q.created_at.to_s[5..9] %>-<%= q.created_at.to_s[0..3] %></p>
          <p class="answer-count-text">By <%= link_to "#{q.user.username}", user_path(q.user_id) %></p>
          <p class="answer-count-text"><%= link_to  "#{q.answers.count} answers", question_path(q.id) %></p>
        </div>
      </div>
    <% end %>


    <br />
      <div id="forms">
        <div class="row">
          <% if current_user != nil %>
            <%= link_to 'New Question', new_question_path, id: 'new_link', class: "button", remote: true %>
          <% end %>
        </div>
      </div>
  </div>
<% end %>



