<div class="row">
  <div class="medium-8 columns">
    <h3><%= @question.title %></h3>

    <div class="title">
      <p class='description'><%= @question.description %></p>
    </div>

  </div>

  <div class="medium-4 columns">
    <div class="row">
      <div class="image-container">
        <%= link_to image_tag(User.find(@question.user_id).avatar.url(:thumb)), user_path(User.find(@question.user_id)), class: "question-photo" %>
      </div>
    </div>

    <div class="row">
      <p class="answer-count-text-large">Asked By <%= link_to "#{@question.user.username}", user_path(@question.user_id) %></p>
    </div>

    <div class="row">
      <p class="answer-count-text-large"><%= @question.created_at.to_s[5..9] %>-<%= @question.created_at.to_s[0..3] %></p>
    </div>

    <div class="row">
      <p class="answer-count-text-large"><%= link_to  "#{@question.answers.count} answers", question_path(@question) %></p>
    </div>
  </div>

</div>


<div class="row">
  <div class="medium-4 columns buttons">
    <% if current_user != nil %>
      <% if @question.user_id == current_user.id %>
        <ul class="button-group">
          <li><%= link_to 'Edit', edit_question_path(@question), class: 'button', id: "edit_link" %></li>
          <li><%= link_to "Delete", question_path(@question), class: 'button', :data => {:confirm => "You sure?", :method => "delete"} %></li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>

  <hr>
<div class="row" id="answers">
    <%= render @answers %>
</div>


<div class="row">
  <% if current_user == nil %>
    <p>Log in to answer.</p>
  <% elsif current_user.id != @question.user_id %>
    <%-# answer question link -%>
    <%= link_to 'Answer Question', new_question_answer_path(@question), class: "button button-submit", id: "answer_link", remote: true %>
  <% end %>
</div>
