<h3><%= @question.title %></h3>
<div class="row">
    <div class="small-10 large-centered columns">
<p class='description'><%= @question.description %></p>
</div>
  </div>
<% @answers.each do |a| %>
      <p><%= a.description %>
    </div>
  </div>
  <% if current_user != nil %>
  <% if a.user_id == current_user.id %>
    <%= link_to "Delete", question_answer_path({:question_id => a.question_id, :id => a.id}),
                        :data => {:confirm => "You sure?",
                        :method => "delete"} %>
  <% end %>
<% end %>
</p>

<% end %>


<% if current_user == nil %>
  <p>Log in to answer.</p>
<% elsif current_user.id != @question.user_id %>
  <%= link_to 'Answer Question', new_question_answer_path(@question) %>
<% end %>


<% if current_user != nil %>
  <% if @question.user_id == current_user.id %>
    <%= link_to 'Edit', edit_question_path(@question), class: 'button', id: "edit_link", remote: true %>
    <%= link_to "Delete", question_path(@question), class: 'button',
                        :data => {:confirm => "You sure?",
                        :method => "delete"} %>
  <% end %>
<% end %>

