<div class="row">
  <h1>Edit <%= current_user.email %></h1>
</div>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="row">
    <%= f.label :website %><br />
    <%= f.text_field :website, :value => "http://" %>
  </div>
  <div class="row">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="row">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="row">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="row">
    <%= f.label :new_password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="row">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="row">
  <div class="actions"><%= f.submit "Submit", class: "button" %></div>
  </div>
<% end %>
