<div class="row">
  <div class="medium-4 medium-offset-8 columns">
    <h3><%= @user.username %></h3>
  </div>
</div>

<div class="row">
  <div class="medium-4 medium-offset-8 columns">
    <%= image_tag current_user.avatar.url(:medium), class: "nav-profile" %>
  </div>
</div>

<div class="row">
  <div class="medium-4 medium-offset-8 columns">
    <% if @user.website == nil %>
    <p class="profile-contact"><%= link_to "Add a website", edit_user_path(@user)%></p>
    <% else %>
    <p class="profile-contact"><%= link_to @user.website, @user.website, target: "_blank"%></p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="medium-4 medium-offset-8 columns">
    <% if @user.company == nil %>
      <p class="profile-contact"><%= link_to "Add your company", edit_user_path(@user) %></p>
    <% else %>
      <p class="profile-contact"><%= @user.company %></p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="medium-4 medium-offset-8 columns">
    <% if @user.location == nil %>
      <p class="profile-contact"><%= link_to "Your location", edit_user_path(@user) %></p>
    <% else %>
      <p class="profile-contact"><%= @user.location %></p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <h4>Questions asked: <%= @user.questions.count %></h4>
  </div>

  <div class="small-4 columns answers">
    <h4>Questions answered: <%= @user.answers.count %></h4>
  </div>
</div>
<hr>

<% topQuestions = [] %>

<% @user.questions.each do |q| %>
  <% answerCount = q.answers.count %>
  <% current_q = [q.id, answerCount] %>
  <% topQuestions << current_q %>
<% end %>

<% sortedQuestions = topQuestions.sort! { |a,b| b[1] <=> a[1] } %>

<div class="row">
  <h4>Top Questions</h4>
</div>

<% if @user.questions.count == 0 %>
  <div class="row">
    <p><%= @user.username %> has not asked any questions</p>
  </div>
<% end %>


<%-# Displaying questions in order from most answers to least -%>
<% sortedQuestions.each do |q| %>
<div class="row">
  <div class="medium-10 columns">
    <h4 class="question_list"><%= link_to Question.find_by_id(q[0]).title, question_path(Question.find_by_id(q[0])) %></h4>
  </div>
  <div class="answer-count medium-2 columns">

    <%-# finding whether or not question has one answer -%>

    <% if q[1] == 1 %>
      <p class="answer-count-text"><%= link_to "#{q[1]} Answer", question_path(q[0]) %></p>
    <% else %>
      <p class="answer-count-text"><%= link_to "#{q[1]} Answers", question_path(q[0]) %></p>
    <% end %>

      <p class="answer-count-text">Asked on <%= Question.find_by_id(q[0]).created_at.to_s[5..9] %>-<%= Question.find_by_id(q[0]).created_at.to_s[0..3] %></p>
      <p class="answer-count-text">By <%= link_to @user.username, user_path(@user) %></p>
    </div>
  </div>
<% end %>

<div class="row">
  <h4>Top Answers</h4>
  <% if @user.answers.count == 0 %>
    <div class="row">
      <p><%= @user.username %> has not answered any questions</p>
    </div>
  <% end %>
</div>
