<%= @user.username %>

<%= image_tag current_user.avatar.url(:medium), class: "nav-profile" %>

<h4>Questions asked: <%= @user.questions.count %></h4>

<% topQuestions = [] %>

<% @user.questions.each do |q| %>
  <% answerCount = q.answers.count %>
  <% current_q = [q.id, answerCount] %>
  <% topQuestions << current_q %>
<% end %>

<% sortedQuestions = topQuestions.sort! { |a,b| a[1] <=> b[1] } %>

<% sortedQuestions.each do |q| %>
  <h4 class="question_list"><%= link_to Question.find_by_id(q[0]).title, question_path(Question.find_by_id(q[0])) %></h4>
<% end %>

<h4>Answers: <%= @user.answers.count %></h4>

