<%= form_for [@question, @answer] do |f| %>
  <% if @answer.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @answer.errors.full_messages.each do |message| %>
          <li class='error'><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :question_id, value: @question.id %>
  <div class="button"><%= f.submit "Add" %></div>
<% end %>
