<!DOCTYPE html>
<html>
<head>
  <title>StackoverflowClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar" data-topbar role="navigation">

  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Stack Overflow</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <% if request.url != root_url %>
    <li class="active"><%= link_to "Home", root_url %></li>
    <% end %>
    <% if current_user %>
      <li class="has-dropdown">
        <a href="#"><%= current_user.email %></a>
        <ul class="dropdown">
          <li><%= link_to "Log Out", logout_path %></li>
          <li><%= link_to 'Edit User', edit_user_path(current_user) %></li>
          <li><%= link_to "Delete User", user_path(current_user),
                                              :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %></li>
    <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Log In", login_path %></li>
        </ul>
    <% end %>
    </ul>
</section>
</nav>

  <br />

<%= yield %>

</body>
</html>
