<!DOCTYPE html>
<html>
<head>
  <title>StackoverflowClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar" data-topbar role="navigation">

  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Stack Overflow</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <% if current_user != nil %>
      <li class="username"> <%= current_user.username %></li>
      </div>
      <% end %>
      <li class="has-form">
      <div class="row collapse">
        <div class="large-8 small-9 columns">
          <form action="/searches" method="get">
          <input name="search_query" type="text" placeholder="Search">
        </div>
      <div class="large-4 small-3 columns">
        <button class="alert button expand">Search</button>
      </form>
      </div>
    </div>
    </li>
      <% if request.url != root_url %>
    <% end %>
    <% if current_user %>
      <li class="has-dropdown">
        <a href="#"><%= current_user.email %></a>
        <ul class="dropdown">
          <li><%= link_to "Log Out", logout_path %></li>
          <li><%= link_to 'Edit User', edit_user_path(current_user) %></li>
          <li><%= link_to "Delete User", user_path(current_user),
                                              :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %></li>
    <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Log In", login_path %></li>
        </ul>
    <% end %>
    </ul>
</section>
</nav>

  <div class="container">

    <br />
    <% if flash[:notice] -%>
      <div class="row">
      <div class = "alert alert-success"><%= flash[:notice] %></div>
      </div>
    <% end %>
    <% if flash[:alert] -%>
    <div class="row">
      <div class = "alert alert-fail"><%= flash[:alert] %></div>
      </div>
    <% end %>

    <%= yield %>
  </div>
</div>
</div>
</body>
</html>
