<!DOCTYPE html>
<html>
<head>
  <title>StackoverflowClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if request.url != root_url %>
  <%= link_to "Home", root_url %> |
<% end %>

  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log Out", logout_path %>
  <% else %>
    <%= link_to "Sign Up", signup_path %> or
    <%= link_to "Log In", login_path %>
  <% end %> |

  <% if current_user != nil %>
    <%= link_to 'Edit User', edit_user_path(current_user) %> | <%= link_to "Delete User", user_path(current_user),
                                              :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %></div>
  <% end %>

<%= yield %>

</body>
</html>
